#header {
    background-color: gold;
    
}

#start {
   margin-top: 50px;   
}

#restart {
    margin-top: 500px;
}

#copyright-footer {
    text-align: center;
    bottom: 0px;
    margin-top: 150px;
    background-color: gray;
    color: white;
}
